<!doctype html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
<main class="flex-shrink-0">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8">

                <article class="blog-post">
                    <h1 class="blog-post-title">{{page.title}}</h1>
                    {% if page.picture and page.picture != "null" and page.picture != "" %}
                    <img class="lab-pic" src="{{ page.picture }}" alt="a picture of the {{ page.group-name }} group">
                    {% endif %}

                    <div class="bd-callout">
                        {{page.brief-description}}
                    </div>

                    {{content}}

                </article>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 5rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 >Identity Card</h4>
                        <dl>
                            <dt>Type</dt>
                            <dd><span class="badge bg-primary">{{page.type}}<span></span></dd>
                            <dt>Application Domains</dt>
                            <dd>
                                {% for app in page.application-domains %}
                                <span class="badge bg-primary">{{ app }}</span>
                                {% endfor %}
                            </dd>
                            <dt>Interaction Techniques</dt>
                            <dd>
                                {% for app in page.interaction-techniques %}
                                <span class="badge bg-primary">{{ app }}</span>
                                {% endfor %}
                            </dd>
                            <dt>Teaching tools</dt>
                            <dd>
                            {% for app in page.tools %}
                                <span class="badge bg-primary">{{ app }}</span>
                            {% endfor %}
                            </dd>
                            <dt>Student Background</dt>
                            <dd>{{page.current-students}}</dd>
                            <dt>Student Level</dt>
                            <dd>{{page.student-level}}</dd>
                            <dt>HCI theme(s)</dt>
                            <dd>{{page.HCI-theme}}</dd>
                            <dt>Authors</dt>
                            <dd>
                                <ul>
                                    {% for a in page.authors %}
                                    <li><a href="{{a.author.url}}">{{a.author.name}} {{a.author.surname}}</a></li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
{% include footer.html %}
</body>
</html>